__pycache__/
*.py[cod]
*.egg-info
*.so
build/
dist/
.coverage
.tox/
*.swp
.vscode
benchmarks/*
!benchmarks/*.py
!benchmarks/diffs
!benchmarks/requirements.txt
examples/*.txt

**/states.log

# Jupyter Notebook for practice
**/*.ipynb